@model Scrobbly.Models.Play

@{
    ViewData["Title"] = "Add Play";
}

<h2>Add Play</h2>

<h4>Play</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlbumName" class="control-label"></label>
                <input asp-for="AlbumName" class="form-control" />
                <span asp-validation-for="AlbumName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistNames" class="control-label"></label>
                <input asp-for="ArtistNames" class="form-control" />
                <span asp-validation-for="ArtistNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Dirty" /> @Html.DisplayNameFor(model => model.Dirty)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ListenTime" class="control-label"></label>
                <input asp-for="ListenTime" class="form-control" />
                <span asp-validation-for="ListenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popularity" class="control-label"></label>
                <input asp-for="Popularity" class="form-control" />
                <span asp-validation-for="Popularity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackId" class="control-label"></label>
                <select asp-for="TrackId" class="form-control" asp-items="ViewBag.TrackId">
                    <option disabled selected>--- SELECT ---</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TrackName" class="control-label"></label>
                <input asp-for="TrackName" class="form-control" />
                <span asp-validation-for="TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceOf" class="control-label"></label>
                <input asp-for="SourceOf" class="form-control" />
                <span asp-validation-for="SourceOf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackSpotifyId" class="control-label"></label>
                <input asp-for="TrackSpotifyId" class="form-control" />
                <span asp-validation-for="TrackSpotifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistSpotifyIds" class="control-label"></label>
                <input asp-for="ArtistSpotifyIds" class="form-control" />
                <span asp-validation-for="ArtistSpotifyIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumSpotifyId" class="control-label"></label>
                <input asp-for="AlbumSpotifyId" class="form-control" />
                <span asp-validation-for="AlbumSpotifyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackDuration" class="control-label"></label>
                <input asp-for="TrackDuration" class="form-control" />
                <span asp-validation-for="TrackDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumImage" class="control-label"></label>
                <input asp-for="AlbumImage" class="form-control" />
                <span asp-validation-for="AlbumImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
